.credits(class='credits_' + project.folder)
  .inner
    .title Credits
    .sections
      .section
        .title Project Links
        each link in project.credits.links
          a.item(href=link,target='_new') #{link}
      .section
        .title Deliverables
        each deliverable in project.credits.deliverables
          .item #{deliverable}
      .section
        .title Awards & Press
        each press in project.credits.press
          .item #{press}
      .clear

if project.related
  .related
    .title(class='title_' + project.folder) Related Projects
    .relateds
      each related in project.related
        - if (related in data.work) { var cover = data.work[related].cover; } else { var cover = 'WHAT'; }
        .thumb(
          class='thumb_' + related,
          data-project=related,
          style='background-image: url(../img/work/' + related + '/1440/' + cover + ');'
        )
          .inner
            .copy
              .name #{data.work[related].name}
    .clear
