.cover(style='background-image: url(../img/work/' + project.folder + '/' + project.cover + ');')
  .copy
    .name #{project.name}
    .filters !{project.filters.join('&nbsp;&nbsp;/&nbsp;&nbsp;')}

.description(style='background-color: ' + data.colors[project.color] )
  .copy #{project.description}

//.fcontainer
  .filters
    .inner
      .title CAPABILITIES
      .filtermenu
        each filter, key in project.filters
          if key == 0
            .filter.active(class='filter_' + project.folder) #{filter}
          else
            .filter(class='filter_' + project.folder) #{filter}
      .clear

