.cover(style='background-image: url(/img/work/' + project.folder + '/' + project.hero + ');')
.cover_mobile(style='background-image: url(/img/work/' + project.folder + '/1440/' + project.cover + ');')

.description(style='background-color: ' + data.colors[project.color] )
  .name #{project.name}
  .filters !{project.filters.join('&nbsp;&nbsp;/&nbsp;&nbsp;')}
  .copy #{project.description}

//.fcontainer
  .filters
    .inner_100
      .title CAPABILITIES
      .filtermenu
        each filter, key in project.filters
          if key == 0
            .filter.active(class='filter_' + project.folder) #{filter}
          else
            .filter(class='filter_' + project.folder) #{filter}
      .clear

