
.image: .inner_100
  img(data-src='Nike-FuelBand-Astro-edit.png')

.copyblock: .inner
  .title #{project.body1.title}
  .blurb
    p #{project.body1.copy}
    p #{project.body2.left}

.image: .inner
  img(data-src='Fuel-Display.png')
  img(data-src='nikefuelband-limited-edition-gold_edit.png')
  img(data-src='Fule-flow.png')

.copyblock: .inner
  .copy #{project.body2.right}

.images: .inner_100
  img(data-src='Fuelbands.png')
  img(data-src='docking.png')

.copyblock: .inner
  .copy #{project.body3.copy}

.image: .inner
  img(data-src='Fuelband_Lifestyle.png')

.space
.space
