
extends ../inc/layout

block variables
  - var rootdir = '../'

block content
  include ../inc/top

  .projects

    // SUMMARY OF PROJECTS
    .summary.off
      .hero
        .copy1 &nbsp;
        .copy2 We’ve been creating the future for a while now.
      .fcontainer
        .filters
          .inner
            .title CAPABILITIES
            .filtermenu
              each filter in data.filters
                if filter.name == 'all'
                  .filter.on(class='filter_' + filter.name,data-copy=filter.copy)=filter.name
                else
                  .filter(class='filter_' + filter.name,data-copy=filter.copy)=filter.name
            .clear
      .thumbs
        each project in data.work
          .thumb.on(
            class='thumb_' + project.folder,
            data-project=project.folder,
            data-filters=project.filters
          )
            .inner(
              style='background-image: url(../img/work/' + project.folder + '/1440/' + project.cover + ');',
            )
              .bg
                .copy
                  .name #{project.name}
                  .filters !{project.filters.join('&nbsp;&nbsp;/&nbsp;&nbsp;')}
      .clear

    // PROJECT PAGES

    - var project = data.work.reyes

    .project.project_reyes.off
      include _header
      .body
        include reyes
      include _credits   

    - var project = data.work.threedr

    .project.project_threedr.off
      include _header
      .body
        include threedr
      include _credits

    - var project = data.work.versus

    .project.project_versus.off
      include _header
      .body
        include versus
      include _credits

    - var project = data.work.aos

    .project.project_aos.off
      include _header
      .body
        include aos
      include _credits

    - var project = data.work.goggle

    .project.project_goggle.off
      include _header
      .body
        include goggle
      include _credits


    - var project = data.work.fuelband

    .project.project_fuelband.off
      include _header
      .body
        include fuelband
      include _credits

    - var project = data.work.neff

    .project.project_neff.off
      include _header
      .body
        include neff
      include _credits

    - var project = data.work.mineralist

    .project.project_mineralist.off
      include _header
      .body
        include mineralist
      include _credits


    - var project = data.work.xbox

    .project.project_xbox.off
      include _header
      .body
        include xbox
      include _credits


    - var project = data.work.tamar

    .project.project_tamar.off
      include _header
      .body
        include tamar
      include _credits

    - var project = data.work.jinnitv

    .project.project_jinnitv.off
      include _header
      .body
        include jinnitv
      include _credits

    - var project = data.work.owlet

    .project.project_owlet.off
      include _header
      .body
        include owlet
      include _credits

    - var project = data.work.masterpix

    .project.project_masterpix.off
      include _header
      .body
        include masterpix
      include _credits


    - var project = data.work.minus8

    .project.project_minus8.off
      include _header
      .body
        include minus8
      include _credits

    - var project = data.work.sol

    .project.project_sol.off
      include _header
      .body
        include sol
      include _credits

    - var project = data.work.vive

    .project.project_vive.off
      include _header
      .body
        include vive
      include _credits   

    - var project = data.work.astorandblack

    .project.project_astorandblack.off
      include _header
      .body
        include astorandblack
      include _credits   

    - var project = data.work.logitech

    .project.project_logitech.off
      include _header
      .body
        include logitech
      include _credits   

    - var project = data.work.nebula

    .project.project_nebula.off
      include _header
      .body
        include nebula
      include _credits   




  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/work.js', 'Work');
      Global.i()
      projects = !{JSON.stringify(data.work)};
    }

