.copyblock
  .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/136321010", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.space
.space

.copyblock.white3
  .inner
    .title #{project.body2.title}
    .copy #{project.body2.copy}
    
    
.images: .inner.table.minheight_500: .row
  .copyblock.red: .inner
    .title #{project.container1.title}
    .copy #{project.container1.copy}
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/01-Reduced-Choice Old.gif')")
   
.images: .inner.table.minheight_500: .row
  .copyblock.blue: .inner
    .title #{project.container2.title}
    .copy #{project.container2.copy}
  img(data-src="01-Reduced-Choice New.gif") 
    
.images: .inner.table.minheight_500: .row
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/02-Reduced-Friction Old.gif')")
  .copyblock.red: .inner
    .title #{project.container3.title}
    .copy #{project.container3.copy}
    
.images: .inner.table.minheight_500: .row
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/02-Reduced-Friction New.gif')")
  .copyblock.blue: .inner
    .title #{project.container4.title}
    .copy #{project.container4.copy}     

.images: .inner.table.minheight_500: .row
  .copyblock.blue: .inner
    .title #{project.container5.title}
    .copy #{project.container5.copy}
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/03-Content-leads-to-Content-FULL.gif')")  
    
.space
.space

.image: .inner
  img(data-src='storyboards.jpg')
  
.copyblock
  .inner
    .blurb
      p #{project.body3.left}
      p #{project.body3.right}

.image: .inner_100
  img(data-src='tv_bckgnd.png')
.copyblock.white3
  .inner
    .copy.big #{project.callout.copy}
 
