.images: .inner.table: .row
  .copyblock
    .inner
      .title #{project.body1.title}
      .copy #{project.body1.copy}
  .imgblock.copyblock: img(data-src='logo.png')
  
.space
.space

.image: .inner
  img(data-src='logo-wordmark.png')

.copyblock
  .inner
    .copy #{project.body2.copy}


.copyblock.blue5
  .inner
    .copy.big #{project.callout.copy}
    
.images: .inner_100
  img(data-src='IMG_0015.png')
  img(data-src='IMG_9986.png')

.space
.space
 
.image: .inner
  img(data-src='Mineralist business card_held_pure-1.png')
    
.image: .inner
  img(data-src='Mineralist_BS_flat-1.png')
    
.images: .inner
  img(data-src='trees-1.png')
  img(data-src='trees-2.png')

.images: .inner.table: .row
  .copyblock.brown
    .inner
      .copy #{project.container1.copy}
  .imgblock(style="background-image: url('../img/work/mineralist/1440/Mineralist_elements-05.png')")

.image: .inner
  img(data-src='Mineralist_home-1.png')

.space
.space

.image: .inner_100
  img(data-src='mineral texture.png')
