+pimg(project.folder, 'shoe.jpg', 'bottom')

.images.table: .inner_100.row
  .copyblock.orange: .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}
  .imgblock(style="background-image: url('../img/work/owlet/1440/IMG_7156_edit.png')")

.space 
.space

.image: .inner
  img(data-src='IMG_7551.png')

.images: .inner.table: .row
  .imgblock(style="background-image: url('../img/work/owlet/1440/150111_Owlet_Process2.png')")
  .copyblock.blue5: .inner
    .copy #{project.body2.copy}

.image: .inner
  img(data-src='150111_Owlet_Process1_edit.png')

.copyblock: .inner
  .blurb
    p !{project.body3.left}
    p #{project.body3.right}

.images: .inner
  img(data-src='150108_Owlet_BaseStation_Renders-on.png')
  img(data-src='150108_Owlet_BaseStation_Renders-off.png')
.image: .inner
  img(data-src='IMG_7681.png')

.space
.space
