.images.table: .inner_100.row
  .copyblock.orange: .inner(style="color: #fff;")
    .title #{project.body1.title}
    .copy #{project.body1.copy}
  .imgblock(style="background-image: url('../img/work/owlet/1440/IMG_7156_edit.png')")

.space.rm_space_mobile
.space.rm_space_mobile

.image: .inner
  img(data-src='IMG_7551.png')


.images: .inner.table: .row
  .imgblock(style="background-image: url('../img/work/owlet/1440/150111_Owlet_Process2.png')")
  .copyblock.blue5: .inner(style="color: #fff;")
    .copy #{project.body2.copy}

.image: .inner
  img(data-src='150111_Owlet_Process1_edit.png')

.space
.space
.image: .inner_100
  img(data-src='IMG_2556.jpg')  

.space
.space 

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/owlet/1440/IMG_6730.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/owlet/1440/IMG_2341.jpg')")

.copyblock: .inner
  .blurb
    p !{project.body3.left}
    p #{project.body3.right}

.images: .inner.nosplit_mobile
  img(data-src='150108_Owlet_BaseStation_Renders-on.png')
  img(data-src='150108_Owlet_BaseStation_Renders-off.png')
.image: .inner
  img(data-src='IMG_7681.png')

.space
.space
