.image: .inner_100
 img(data-src='2-Astro_Sol_LayeredShots.png')

.copyblock: .inner
  .title #{project.body1.title}
  .blurb
    p #{project.body1.left}
    p #{project.body2.right}

.images: .inner_100
  img(data-src='sol_prototype.png')
  img(data-src='sol_lifestyleshot.png')


.copyblock.blue3: .inner
  .title.white1.centered #{project.callout.copy}

.images: .inner_100
  img(data-src='logo.png')
  img(data-src='bcard.png')
  img(data-src='concept.png')
  img(data-src='packaging.png')
    

.copyblock: .inner
  .blurb
    p #{project.body2.left}
    p #{project.body2.right}

.image: .inner
 img(data-src='SOL_Kit.png')
 img(data-src='150609_SOL_interchangeable.png')
 img(data-src='SOL_HEADPHONE_COLOR_VARIATIONS.png')

.images: .inner.nosplit_mobile
  img(data-src='sol_lifestyle.png')
  img(data-src='headphone.png')
  
.images: .inner.table.minheight_600: .row 
  .copyblock.blue3.middle: .inner
    .copy.white1 #{project.body3.copy}
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/sol/1440/IMG_0286.png')")
  
.space
.space
