.copyblock: .inner
  .title #{project.body1.title}
  .copy #{project.body1.copy}

.image: .inner_100.red4
  img(data-src='tamar.png')
.images: .inner_100
  img(data-src='tags.png')
  img(data-src='shoebox.png')
  img(data-src='bag.png')
  img(data-src='tamar-tissue.png')

.copyblock.orange: .inner(style="color: #fff;")
  .copy.big.centered #{project.callout.copy}
  
.space.rm_space_mobile
.space.rm_space_mobile
  
.image: .inner
  img(data-src='selfie.png')

.images: .inner.table: .row
  .copyblock.pink1: .inner(style="color: #fff;")
    .copy #{project.container1.copy}
  .imgblock(style="background-image: url('../img/work/tamar/1440/buttons.png')")


.image: .inner
  img(data-src='TAMAR-PATTERN-final.png')
  img(data-src='150116_shoppingspree_1026R-2d.png')

.copyblock
  .inner
    .copy #{project.body2.copy}

.space
.space
