//+youtube('7JpfkGAuhV8')

.copyblock.black: .inner
  .title #{project.body1.title}
  .copy #{project.body1.copy}

.images
  .inner_50
    img(data-src='150611_3DR_LogoConstruction.png')
    img(data-src='150611_3DR_Brand_banner.png')

  .inner_50
    img(data-src='150619_3dr_box_v02_ground-BLK.png')
  

.image: .inner_100
  img(data-src='3DR_guide.png')
  
.copyblock.black2: .inner 
  .title #{project.body2.title}
  .copy #{project.body2.copy1}

.image: .inner_100
  img(data-src='480076_v4.png')

.space.rm_space_mobile
.space.rm_space_mobile

.image: .inner
  img(data-src='150611_3DR_Banner_Alt.png')
  img(data-src='Square_3DR.png')
  
.copyblock: .inner
  .blurb
    p #{project.body3.left}
    p #{project.body3.right}

.image: .inner
  img(data-src='solo_withcontroller.png')

.images: .inner
  img(data-src='150611_3DR_Control.png')
  img(data-src='Closeup_Drone.png')

.image: .inner
  img(data-src='3DR_Black.png')
  img(data-src='3DR_black2.png')
  
.space
.space
