
.images.table: .inner_100.row
  .copyblock.black: .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}
  .imgblock(style="background-image: url('../img/work/versus/1440/versus-hero-sports.png')")
  

.copyblock: .inner 
  .copy #{project.body2.copy}


.image: .inner
  img(data-src='versuslogo.png')
  img(data-src='versus-brand.png')


.copyblock: .inner
  .copy #{project.body3.copy}


.image: .inner_100
  img(data-src='IMG_2094-Edit.jpg')

.space  
.image: .inner
  img(data-src='green_band_detail.png')


.copyblock
  .inner
    .copy We did this by combining heat-welded 3D mesh fabric used in athletic footwear with an ultra-lightweight headphone structure. The soft X-frame flexes to fit on the wearer's head while the sensors make contact independently allowing for micro fit adjustments.  

  
.copyblock.green: .inner(style="color: #fff;")
  .title team spirit
  .blurb
    p #{project.body5.left}
    p #{project.body5.right}

.space  
.image: .inner
  img(data-src='IMG_5034-lifestyle.png')

.image: .inner
  img(data-src='headphones.png') 

.space

.image: .inner_100
  img(data-src='IMG_5029.png')

.space  

.space_mobile
.space_mobile
