
.images.table: .inner_100.row
  .copyblock.black: .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}
  .imgblock(style="background-image: url('../img/work/versus/1440/versus-hero-sports.png')")
  

.copyblock: .inner 
  .copy #{project.body2.copy}


.image: .inner
  img(data-src='versuslogo.png')
  img(data-src='versus-brand.png')

.copyblock: .inner
  .copy #{project.body3.copy}

.images.table: .inner_100.row
  .imgblock(style="background-image: url('../img/work/versus/1440/Green_band_detail.png')")
  .copyblock.black: .inner
    .copy #{project.body4.copy}
  
.copyblock.green: .inner
  .title team spirit
  .blurb
    p #{project.body5.left}
    p #{project.body5.right}

.images: .inner_100
  img(data-src='IMG_5034-lifestyle.png')
  img(data-src='headphones.png')
.image: .inner_100
  img(data-src='IMG_5029.png')

.space_mobile
.space_mobile
