.image: .inner_100
  img(data-src='150414_xbox-process4-layered.png')

.images.table.minheight_600: .inner_100.row
  .copyblock.black3: .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}
  .imgblock(style="background-image: url('../img/work/xbox/1440/150414_XBox_3Product_alt.png')")
    
.copyblock: .inner
  .blurb
    p #{project.body2.left}
    p #{project.body2.right}
    
.images: .inner_100
  img(data-src='controller.png')
  img(data-src='xbox-360controller.png')
  img(data-src='lifestyle.png')
  img(data-src='products.png')

.copyblock.black3: .inner
  .copy.big #{project.callout.copy}
  
.space_mobile
.space_mobile
