.cover(style='background-image: url(../img/blog/' + entry.folder + '/' + entry.cover + ');')

.details
  .date=entry.date
  .author Posted by 
    a(href='/blog/#author=#{entry.author}') #{entry.author}
  .tags Filed Under 
    each tag in entry.tags
      a(href='/blog/#tag=#{tag}')=tag.trim()
      .comma=','
  .shares
    .copy SHARE
    .share.share_instagram
      include ../../pub/svg/instagram.svg
    .share.share_twitter
      include ../../pub/svg/twitter.svg
    .share.share_facebook
      include ../../pub/svg/facebook.svg
  .clear
  .copy
    .name #{entry.name}
    .description !{entry.description}
.clear


