.cover(style='background-image: url(../img/blog/' + entry.folder + '/' + entry.cover + ');')

.details
  .date=entry.date
  .author Posted by 
    a(href='/blog/#author=#{entry.author}') #{entry.author}
  .tags Filed Under 
    each tag in entry.tags
      a(href='/blog/#tag=#{tag}')=tag.trim()
      .comma=','
  .shares
    .copy SHARE
    .share.share_twitter(data-type='twitter')
      include ../../pub/svg/twitter.svg
    .share.share_facebook(data-type='facebook')
      include ../../pub/svg/facebook.svg
    .share.share_link(data-type='link').off
      include ../../pub/svg/link.svg
    .share_url.off
      input(type='text',value='http://www.wjerlkwejrelw.com/')

  .clear
  .copy
    .name #{entry.name}
    .description !{entry.description}
.clear

