
extends ../inc/layout

block variables
  - var rootdir = '../'

block content
  include ../inc/top

  .blog

    // BLOG SUMMARY
    .summary.off
      .hero
        .copy1 &nbsp;
        .copy2  Astro Blog
      .crumb.off
        .close &#10005;
        .copy 
          span.desc Filtering by 
          span.value FILTER
        .clear
      .thumbs
        each entry in data.blog
          .thumb.on(
            class='thumb_' + entry.folder,
            data-entry=entry.folder,
            data-tags=entry.tags
            data-author=entry.author
            data-cdate=entry.cdate
          )
            .inner(
              style='background-image: url(../img/blog/' + entry.folder + '/1440/' + entry.cover + ');',
            )
              .bg
                .copy
                  .name #{entry.name}
                  .filters !{entry.tags.join('&nbsp;&nbsp;/&nbsp;&nbsp;')}
      .clear

    // BLOG ENTRIES 
    - var entry = data.blog.nasa

    .entry.entry_nasa.off
      include _header
      .body
        include nasa
      include _footer

    - var entry = data.blog.pins

    .entry.entry_pins.off
      include _header
      .body
        include pins
      include _footer

    - var entry = data.blog.eightarms

    .entry.entry_eightarms.off
      include _header
      .body
        include eightarms
      include _footer

    - var entry = data.blog.malcolm

    .entry.entry_malcolm.off
      include _header
      .body
        include malcolm
      include _footer


    - var entry = data.blog.pulse

    .entry.entry_pulse.off
      include _header
      .body
        include pulse
      include _footer

    - var entry = data.blog.iceland

    .entry.entry_iceland.off
      include _header
      .body
        include iceland
      include _footer

    - var entry = data.blog.secretsanta21

    .entry.entry_secretsanta21.off
      include _header
      .body
        include secretsanta21
      include _footer

    - var entry = data.blog.broad

    .entry.entry_broad.off
      include _header
      .body
        include broad
      include _footer

    - var entry = data.blog.caposter

    .entry.entry_caposter.off
      include _header
      .body
        include caposter
      include _footer

    - var entry = data.blog.BiYuu

    .entry.entry_BiYuu.off
      include _header
      .body
        include BiYuu
      include _footer

    - var entry = data.blog.snowisdope

    .entry.entry_snowisdope.off
      include _header
      .body
        include snowisdope
      include _footer

     - var entry = data.blog.artventure

    .entry.entry_artventure.off
      include _header
      .body
        include artventure
      include _footer
  

     - var entry = data.blog.flyingmotorcycles

    .entry.entry_flyingmotorcycles.off
      include _header
      .body
        include flyingmotorcycles
      include _footer

    - var entry = data.blog.krimston

    .entry.entry_krimston.off
      include _header
      .body
        include krimston
      include _footer

    - var entry = data.blog.foosball
 
    .entry.entry_foosball.off
      include _header
      .body
        include foosball
      include _footer
  
    - var entry = data.blog.orah
   
    .entry.entry_orah.off
      include _header
      .body
        include orah
      include _footer
   
     - var entry = data.blog.oscardelerenta

    .entry.entry_oscardelerenta.off
      include _header
      .body
        include oscardelerenta
      include _footer
      
    - var entry = data.blog.xoxoxbox

    .entry.entry_xoxoxbox.off
      include _header
      .body
       include xoxoxbox
      include _footer


    - var entry = data.blog.camo

    .entry.entry_camo.off
      include _header
      .body
       include camo
      include _footer    


    - var entry = data.blog.astroswag

    .entry.entry_astroswag.off
      include _header
      .body
       include astroswag
      include _footer 


    - var entry = data.blog.jamesturrell

    .entry.entry_jamesturrell.off
      include _header
      .body
       include jamesturrell
      include _footer 


    - var entry = data.blog.nycdesignweek

    .entry.entry_nycdesignweek.off
      include _header
      .body
       include nycdesignweek
      include _footer 


    - var entry = data.blog.obe

    .entry.entry_obe.off
      include _header
      .body
       include obe
      include _footer 


    - var entry = data.blog.artofbasketball

    .entry.entry_artofbasketball.off
      include _header
      .body
       include artofbasketball
      include _footer       

    - var entry = data.blog.cooperhewitt

    .entry.entry_cooperhewitt.off
      include _header
      .body
       include cooperhewitt
      include _footer  

    - var entry = data.blog.calligraffiti

    .entry.entry_calligraffiti.off
      include _header
      .body
       include calligraffiti
      include _footer  
      
   - var entry = data.blog.swine

    .entry.entry_swine.off
      include _header
      .body
       include swine
      include _footer  




  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/blog.js', 'Blog');
      Global.i()
      entries = !{JSON.stringify(data.blog)};
    }
