.cover(style='background-image: url("../img/project/' + project.folder + '/cover.png");')
  .copy
    .name #{project.name}
    .filters !{project.filters.join('&nbsp;&nbsp;/&nbsp;&nbsp;')}

.description(style='background-color: ' + data.colors[project.color] )
  .copy #{project.description}

.filters
  .inner
    .title CAPABILITIES
    .filtermenu
      each filter, key in project.filters
        if key == 0
          .filter.active(class='active_' + project.name) #{filter}
        else
          .filter #{filter}
    .clear

