
extends ../inc/layout

block variables
  - var rootdir = '../'

block content
  include ../inc/top

  .contact

    .banner
      .inner.off
        .copy
          .lcopy 348 6th St, SoMA, SF, CA, USA, EARTH, SOLAR SYSTEM, MILKY WAY, THE UNIVERSE.

    .block
      .inner
        .copy Astro is a creative agency on a mission to turn the worst day of the week into the best one.  Want to work with us?  Are you interested in collaborating? Grab your phone or keyboard and reach out to say hi.
 
    #map

    .engage
      .ways
        each way, number in data.contact
          .way
            .title #{way.title}
            .copy=way.copy
            if way.type == 'email'
              .example
                a(href='mailto:' + way.email)=way.email
            if way.type == 'link'
              .example
                a(href=way.link)=way.linkcopy


    .officeimage
      img(src='/img/contact/office.jpg')

  include ../inc/bottom

  script(src="https://maps.googleapis.com/maps/api/js").

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/contact.js', 'Contact');
      Global.i()
      accessToken = '#{data.mapbox.accessToken}';
      mapId = '#{data.mapbox.mapId}';
    }

