extends inc/layout


block variables
  - var rootdir = './'

block content
  include inc/top

  .index
    .featureds
      .inner
        each featured, key in data.home.featured
          .featured(style='background-image: url(./img/' + featured.image + ');',class=(key == 0) ? 'on' : 'off')
            .inner
              .copy
                .title !{featured.copy}
                .clear

    .lines.off
      each featured, key in data.home.featured
        .line(data-key=key,data-link=featured.link,class='line_' + key + ' ' + ((key == 0) ? 'on' : ''))
          .shape
          .title #{featured.title}

    .clear
    .welcome
      .inner
        .copy1 Welcome to Astro Studios.
        .copy2 We inspire, define, and influence pop culture.  We create brands and design products.  We break free o the expected.
        .copy3 We fight gravity.
    .clear
    .projects
      each grid in data.home.grid
        .thumb(
          data-type=grid.type,
          class='thumb_' + grid.folder,
          data-folder=grid.folder,
        )
          if grid.type == 'blog'
            - var info = data.blog[grid.folder]
          if grid.type == 'work'
            - var info = data.work[grid.folder]

          .inner(
            style='background-image: url(../img/' + grid.type + '/' + grid.folder + '/1440/' + info.cover + ');'
          )
            .bg
              .copy
                .name #{info.name}
                if info.filters
                  .filters !{info.filters.join('&nbsp;&nbsp;/&nbsp;&nbsp;')}
                if info.tags
                  .filters !{info.tags.join('&nbsp;&nbsp;/&nbsp;&nbsp;')}

    .clear

  include inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      Global.i()
      featured = !{JSON.stringify(data.home.featured)}
    }
