extends inc/layout

block variables
  - var rootdir = './'

block content
  include inc/top

  .index
    .featureds
      .inner
        each featured, key in data.home.featured
          .featured(style='background-image: url("./img/' + featured.image + '");',class=(key == 0) ? 'on' : 'off')
            .inner
              .copy #{featured.copy}

    .circles.off
      each featured, key in data.home.featured
        .circle.on(data-key=key)
          .shape(class=(key == 0) ? 'on' : '')
            .fill
          .title #{featured.title}

    .clear
    .welcome
      .inner
        .copy Welcome to ASTRO Studios.<br/>  We define culture.<br /> We create brands.<br /> We design products.<br /> We fight gravity™.
    .clear
    .projects
      each project in data.project
        if (project.home != undefined && project.home === true)
          .thumb(class='thumb_' + project.folder,data-project=project.folder,style='background-image: url("../img/project/' + project.folder + '/1440/' + project.cover + '");')
            .inner
              .copy
                .name #{project.name}
    .clear

  include inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      Global.i()
      featured = !{JSON.stringify(data.home.featured)}
    }
