extends inc/layout

block variables
  - var rootdir = './'

block content
  include inc/top

  .index
    .featureds
      .inner
        each featured, key in data.home.featured
          .featured(style='background-image: url(./img/' + featured.image + ');',class=(key == 0) ? 'on' : 'off')
            .inner
              .copy
                .label
                  span _
                  | PROJECT
                .title !{featured.copy}

    .lines.off
      each featured, key in data.home.featured
        .line(data-key=key,class=(key == 0) ? 'on' : '')
          .shape
          .title #{featured.title}

    .clear
    .welcome
      .inner
        .copy1 Welcome to ASTRO Studios.
        .copy2 <span>_</span>We define culture.
        .copy2 <span>_</span>We create brands.
        .copy2 <span>_</span>We design products.
        .copy2 <span>_</span>We fight gravity.
    .clear
    .projects
      each project in data.project
        if (project.home != undefined && project.home === true)
          .thumb(
            data-type='project',
            class='thumb_' + project.folder,
            data-project=project.folder,
          )
            .inner(
              style='background-image: url(../img/project/' + project.folder + '/1440/' + project.cover + ');'
            )
              .bg
                .copy
                  .name #{project.name}
                  .filters

      each entry in data.blog
        if (entry.home != undefined && entry.home === true)
          .thumb(
            data-type='blog',
            class='thumb_' + entry.folder,
            data-entry=entry.folder,
          )
            .inner(
              style='background-image: url(../img/blog/' + entry.folder + '/1440/' + entry.cover + ');'
            )
              .bg
                .copy
                  .name #{entry.name}
                  .filters #{entry.date}
 

    .clear

  include inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      Global.i()
      featured = !{JSON.stringify(data.home.featured)}
    }
